body {
	background-color          : black;
	width                     : 100%;
	height                    : 100%;
	overflow                  : hidden;
	font-family               : Bitstream Vera,Vera,Verdana,Arial;
	cursor                    : none;
	color                     : white;
}

ul {
	margin                    : 0px;
	padding                   : 0px;
}

li {
	margin-bottom             : 3px;
	margin-left               : 15px;
}

a {
	text-decoration           : none;
	color                     : white;
}

a:hover, a:focus {
	text-decoration           : underline;
}

#container {
	width                     : 100%;
	height                    : 100%;
	position                  : absolute;
	top                       : 0px;
	left                      : 0px;
	overflow                  : hidden;
}

#background, #background img {
	display                   : block;
	margin                    : auto;
	z-index                   : -5;
	position                  : absolute;
}

#overlay {
	position                  : absolute;
	top                       : 40px;
	left                      : 0px;
	height                    : 100px;
	width                     : 100%;
	background-image          : url('../img/overlay.png');
	z-index                   : 100;
	overflow                  : hidden;
	cursor                    : auto;
}

#overlay .holder {
	float                     : left;
	overflow                  : hidden;
	margin                    : 0;
	height                    : 100px;
}

#overlay .center {
	overflow                  : hidden;
	margin                    : 0px;
	display                   : table-cell;
	vertical-align            : middle;
	height                    : 100px;
}

#quotes {
	height                    : 100px;
	color                     : white;
	margin                    : 0;
	display                   : table-cell;
	vertical-align            : middle;
}

#quotes li {
	font-size                 : 11px;
}

/* to combine with #overlay .holder */
#quotes .quote {
	width                     : 280px;
	margin-right              : 15px;
}

/* to combine with #overlay .holder */
#quotes .logo {
	margin-left               : 15px;
	margin-right              : 25px;
}

/* to combine with #overlay .holder */
#quotes .block {
	position                  : absolute;
	margin-right              : 170px;
}

#clock {
	position                  : absolute;
	width                     : 200px;
	right                     : 0px;
}

#clock #hours {
	width                     : 100px;
	text-align                : right;
}

#clock .number {
	color                     : white;
	padding-top               : 8px;
	position                  : absolute;
	text-shadow               : #222222 3px 3px 3px;
}

#clock #hours .number {
	font-size                 : 70px;
	right                     : 100px;
}

#clock #minutes {
	width                     : 60px;
	left                      : 100px;
}

#clock #minutes .number {
	font-size                 : 45px;
}

#files {
	position                  : absolute;
	right                     : 60px;
	bottom                    : 10px;
	width                     : 512px;
	height                    : 610px;
	overflow                  : hidden;
	display                   : none;
	z-index                   : 5;
}

#files img {
	width                     : 512px;
	height                    : 610px;
}

img.overlaymap {
	z-index                   : 10;
	opacity                   : 0.9;
	position                  : absolute;
	top                       : 0px;
	left                      : 0px;
	width                     : 512px;
	height                    : 610px;
}
